@import "styles/_reset.scss";
@import "tachyons";
@import "styles/_globals.scss";
@import "~@fortawesome/fontawesome-free/css/all.css";
@import "~bootstrap";

.card {
  background-color: transparent !important;
}

.fa-xxs {
  font-size: 0.5em;
}

.jumbotron .container {
  max-width: 40rem;
}

.jumbotron {
  background-color: #f6f6f6;
}

.navbar {
  background-color: #f6f6f6;
}

.navbar.household {
  background-color: #fff;
}

div.react-datepicker-wrapper {
  display: block;
}

div.react-datepicker-popper {
  z-index: 100;
}

.custom-control-label::before,
.custom-control-label::after {
width: 1.5rem;
height: 1.5rem;
margin-top: 4px;
}

.questionnaire-text {
    font-family: Helvetica;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: left;
    margin-left: 21px;
}

.subquestion {
    border-radius: 20px;
    margin: 1.5rem 0 1.5rem 1.5rem;
    padding: 2rem;
    background-color:#ECF9FF
}
