@import "styles/_reset.scss";
@import "tachyons";
@import "styles/_globals.scss";
@import "~@fortawesome/fontawesome-free/css/all.css";
@import "~bootstrap";

.card {
  background-color: transparent !important;
}

.fa-xxs {
  font-size: 0.5em;
}

.jumbotron .container {
  max-width: 40rem;
}

.jumbotron {
  background-color: #f6f6f6;
}

.navbar {
  padding-top: 2em;
  background-color: #ffffff;
}

.navbar.household {
  background-color: #fff;
}

div.react-datepicker-wrapper {
  display: block;
}

div.react-datepicker-popper {
  z-index: 100;
}

.custom-control-label::before,
.custom-control-label::after {
width: 1.5rem;
height: 1.5rem;
margin-top: 4px;
}

.questionnaire-text {
    font-family: Helvetica;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: left;
    margin-left: 21px;
}

.subquestion {
    border-radius: 20px;
    margin: 1.5rem 0 1.5rem 1.5rem;
    padding: 2rem;
    background-color:#ECF9FF;
}
.our-tooltip {
    border-radius: 20px;
    margin: 1.5rem 0 1.5rem 0;
    padding: 2rem;
    background-color:#ECF9FF;
}

.recommendation-detail {
    border-radius: 20px;
    margin: 1.5rem 0 1.5rem 0;
    padding: 1.5rem;
    background-color:#ECF9FF;
}

.add-another-person-text {

    font-family: Helvetica;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 36px;
    margin: 0px 20px;
}
.add-another-person-button {
    color: #1A5BFF;
    fill: #1A5BFF;
    stroke: #1A5BFF;
}
.add-another-person-button:hover {
    color: #1F252F;
    fill: #1F252F;
    stroke: #1F252F;
}

.custom-control-label::before {
    border: #000000 solid 2px;
}
.custom-control-input[disabled] ~ .custom-control-label::before, .custom-control-input:disabled ~ .custom-control-label::before {
    border: #cccccc solid 2px;
}

.get-recommendation-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 24px 40px;
    position: static;
    width: 90%;
    height: 80px;
    left: 0px;
    bottom: 0px;
    background: #1A5BFF;
    border-radius: 40px;
    margin: 60px 0px;
    font-family: Helvetica;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #FFFFFF;
}
.get-recommendation-button:hover {
  background: #1F252F;
}


.update-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: static;
    height: 80px;
    left: 0px;
    bottom: 0px;
    border-color: #1A5BFF;
    border-style: solid;
    border-width: 2px;
    background: #FFFFFF;
    border-radius: 40px;
    margin: 60px 0px;
    font-family: Helvetica;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 36px;
    color: #1A5BFF;
    width: 60%;
}
.update-button:hover {
  border-color: #1F252F;
  color: #1F252F;
}

.download-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: static;
    height: 80px;
    left: 0px;
    bottom: 0px;
    background: #1A5BFF;
    border-radius: 40px;
    margin: 60px 0px;
    font-family: Helvetica;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 36px;
    color: #FFFFFF;
}
.download-button:hover {
  background: #1F252F;
}
.home-link {
    color: #1F252F;
}
.home-link:hover {
    color: #1A5BFF;
}

.off-black {
    color: #1F252F;
}

.our-blue {
    color: #1A5BFF;
}
.get-started-link {
    background: #1A5BFF;
}
.get-started-link:hover {
    background: #1F252F;
}

.resourceAnswer {
    font-family: Helvetica;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: left;
}