@import "styles/_reset.scss";
@import "tachyons";
@import "styles/_globals.scss";
@import "~@fortawesome/fontawesome-free/css/all.css";
@import "~bootstrap";

.card {
  background-color: transparent !important;
}

.fa-xxs {
  font-size: 0.5em;
}

.jumbotron .container {
  max-width: 40rem;
}

.jumbotron {
  background-color: #f6f6f6;
}

.navbar {
  padding-top: 2em;
  background-color: #ffffff;
}

.navbar.household {
  background-color: #fff;
}

div.react-datepicker-wrapper {
  display: block;
}

div.react-datepicker-popper {
  z-index: 100;
}

.custom-control-label::before,
.custom-control-label::after {
width: 1.5rem;
height: 1.5rem;
margin-top: 4px;
}

.questionnaire-text {
    font-family: Helvetica;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: left;
    margin-left: 21px;
}

.subquestion {
    border-radius: 20px;
    margin: 1.5rem 0 1.5rem 1.5rem;
    padding: 2rem;
    background-color:#ECF9FF;
}

.add-another-person {

    font-family: Helvetica;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 36px;
    color: #1A5BFF;
    margin: 0px 20px;
}
.custom-control-label::before {
    border: #000000 solid 2px;
}

.get-recommendation-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 24px 40px;
    position: static;
    width: 90%;
    height: 80px;
    left: 0px;
    bottom: 0px;
    background: #1A5BFF;
    border-radius: 40px;
    margin: 60px 0px;
    font-family: Helvetica;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #FFFFFF;
}